.footer-card {
  padding: 10px 20px;
}

.edit-btn {
  color: white;
  font-weight: bold;
  width: 100px;
  height: 40px;
}




.delete-btn {
  color: white;
  font-weight: bold;
  width: 100px;  
  height: 40px;
}


